@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Cabin:wght@400;700&family=Playfair+Display:wght@500;600&family=Poppins:wght@500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  line-height: 1.2;
  font-family: "Cabin", sans-serif;
  color: hsl(0deg, 0%, 0%);
}

.container {
  max-width: 79.375rem;
  margin-inline: auto;
  padding-inline: 1.25rem;
}

.logo {
  font-size: 1.75rem;
  font-family: "Bodoni Moda", serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.small-caps {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.section-heading {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2;
}

.clr-light {
  color: hsl(0deg, 0%, 53%);
}

.bold-caps {
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.5;
  padding: 0.53125rem 1.5625rem;
  text-transform: uppercase;
}
.btn-primary {
  background-color: hsl(28deg, 53%, 40%);
  color: hsl(0deg, 0%, 100%);
}
.btn-light {
  color: hsl(28deg, 53%, 40%);
  background-color: hsl(0deg, 0%, 100%);
}

.delivery-banner {
  display: none;
}

.whatsapp {
  display: block;
  position: fixed;
  bottom: 1rem;
  right: 5.3125rem;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-block: 2rem;
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 0px 4px 4px hsla(0deg, 0%, 0%, 0.1);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.delivery-promo {
  margin-right: 1.25rem;
}

.icon-login {
  margin-left: 1rem;
}

.nav-toggle {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: min(5vw, 4.0625rem);
  margin-left: 4.25rem;
}

.nav-item {
  position: relative;
}

.hero {
  padding-block: 9.5rem;
  background: url("../img/hero.jpg") no-repeat center center/cover;
}

.hyphenated {
  display: flex;
  align-items: center;
  gap: 0.5625rem;
  margin-bottom: 1.75rem;
}

.hyphen {
  width: 1.5625rem;
  height: 1px;
  background-color: hsl(0deg, 0%, 0%);
}

.hero .section-heading {
  font-size: 4rem;
  line-height: 1.125;
  margin-bottom: 1.75rem;
}

.hero .btn {
  margin-top: 1.25rem;
}

.benefits {
  margin-top: 4.1875rem;
}

.benefits-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.benefit {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.benefit .clr-light {
  margin-top: 5px;
}

.collections {
  margin-top: 3.625rem;
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.big-box,
.small-box {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.bg-gray {
  background-image: url("../img/collection-bg/bg1.jpg");
}

.bg-red {
  background-image: url("../img/collection-bg/bg2.jpg");
}

.bg-yellow {
  background-image: url("../img/collection-bg/bg3.jpg");
}

.shop-link {
  display: inline-block;
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  text-decoration: underline;
}

.big-box {
  grid-column: span 2;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding-block: 1.25rem;
}

.small-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 1.25rem;
}

.small-box div {
  margin-bottom: 1.25rem;
}

.blurb {
  margin-top: 6.75rem;
}

.blurb .container {
  display: grid;
  padding-left: 5.75rem;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.blurb-heading {
  grid-row: 2/3;
}

.lead-text {
  grid-row: 3/span 2;
}

.promo-img {
  grid-column: 2/3;
  grid-row: 1/-1;
  margin-left: 8.625rem;
}

.lead-text {
  line-height: 1.375;
}

.lead-text p {
  margin-bottom: 1.25rem;
}

.products {
  margin-top: 3.875rem;
}

.products-grid {
  display: grid;
  grid-template-columns: 2fr repeat(4, minmax(10%, 1fr));
  grid-gap: 1.125rem;
}

.shop-box {
  grid-row: span 2;
  background: url("../img/bg-bestseller.jpg") no-repeat top left/cover;
  padding-top: 5.625rem;
  padding-inline: 2.5rem;
}

.shop-box .section-heading {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.25rem;
}

.product-box {
  background-color: hsl(0deg, 0%, 97%);
  text-align: center;
  padding-bottom: 1.25rem;
}

.product-box .bold-caps,
.product-box .clr-light {
  font-size: 0.75rem;
}

.product-box .bold-caps {
  margin-bottom: 5px;
}

.product-img {
  max-width: 12.5rem;
  margin-inline: auto;
}

.blogs {
  margin-top: 6.25rem;
  padding-top: 2.5625rem;
  padding-bottom: 5.5rem;
  background-color: hsl(0deg, 0%, 97%);
}

.blogs-container {
  margin-top: 2.375rem;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 19rem;
  grid-gap: 0.5625rem;
}

.blog-post {
  background-color: hsl(0deg, 0%, 100%);
  width: 310px;
  height: 500px;
}

.blog-text {
  height: calc(100% - 258px);
  padding-inline: 1.125rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.0625rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.category {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
  font-size: 0.75rem;
  text-transform: uppercase;
  background-color: hsl(0deg, 0%, 14%);
  color: hsl(0deg, 0%, 100%);
  text-align: center;
  padding: 7px;
}

.blog-title {
  font-weight: 400;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 30%);
  margin-bottom: 0.5625rem;
  line-height: 1.375;
}

.blog-summary {
  color: clr-neutral-600;
  font-size: 0.75rem;
  line-height: 1.83;
  padding-bottom: 1.3125rem;
}

.blog-footer {
  padding-top: 1.3125rem;
  border-top: 1px solid hsl(0deg, 0%, 97%);
  font-size: 0.625rem;
  color: hsl(0deg, 0%, 60%);
  margin-top: auto;
}

.feed {
  margin-top: 4.75rem;
}

.ig-link {
  margin-left: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.625rem;
  color: hsl(28deg, 53%, 40%);
  margin-bottom: 1.5625rem;
}

.cta-banner {
  margin-top: 9.5rem;
  padding-block: 2rem;
  background-color: hsl(28deg, 53%, 40%);
  color: hsl(0deg, 0%, 100%);
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.6875rem;
}

.banner-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.6875rem;
}

.delivery-big {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.75rem;
}

.separator {
  height: 2.1875rem;
  width: 1px;
  background-color: hsl(0deg, 0%, 100%);
}

.orders {
  font-size: 0.875rem;
}

.footer {
  background-color: hsl(240deg, 3%, 14%);
  color: hsl(0deg, 0%, 100%);
  padding-top: 4.0625rem;
  padding-bottom: 4.875rem;
  font-size: 0.875rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
}

.company-desc {
  max-width: 30ch;
  margin-top: 1.4375rem;
  margin-bottom: 0.9375rem;
  line-height: 1.5;
}

.copyright {
  text-align: right;
}

.footer-nav {
  margin-top: 1rem;
}

@media (hover: hover) {
  .btn {
    transition: all 0.5s ease;
  }
  .btn-primary:hover {
    color: hsl(28deg, 53%, 40%);
    background-color: hsl(0deg, 0%, 100%);
    border: 1px solid hsl(28deg, 53%, 40%);
  }
  .btn-light:hover {
    color: hsl(0deg, 0%, 100%);
    background-color: hsl(28deg, 53%, 40%);
    border: 1px solid hsl(0deg, 0%, 100%);
  }
  .nav-item::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: hsl(0deg, 0%, 0%);
    border-radius: 10px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
  }
  .nav-item:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }
}
@media (max-width: 64em) {
  .delivery-promo {
    display: none;
  }
}
@media (max-width: 40em) {
  .delivery-banner {
    display: block;
    background-color: hsl(28deg, 53%, 40%);
    color: hsl(0deg, 0%, 100%);
    padding-block: 0.625rem;
  }
  .header-right {
    position: relative;
  }
  .icon-login {
    display: none;
  }
  .icon-cart {
    margin-right: 2.25rem;
  }
  .nav-toggle {
    display: block;
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 1.25rem;
    aspect-ratio: 1;
    background-color: transparent;
  }
  .primary-nav {
    position: fixed;
    z-index: 999;
    inset: 0 0 0 10%;
    background-color: hsl(0deg, 0%, 100%);
    font-size: 2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding-top: 8rem;
    padding-right: 10rem;
  }
  .primary-nav.visible {
    transform: translateX(0%);
  }
  .nav-list {
    flex-direction: column;
    gap: 5rem;
    align-items: flex-start;
  }
  .whatsapp {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */