@media (max-width: 64em) {
	// Utilities
	.section-heading {
		line-height: 1.36;
	}

	// Header
	.header {
		.delivery-promo {
			display: none;
		}
	}

	// Hero
	.hero {
		padding-block: 3.75rem;

		.section-heading {
			max-width: 8ch;
		}
	}

	// Collections
	.collections {
		.collection-grid {
			grid-template-columns: repeat(2, 1fr);
			row-gap: 5px;
		}

		.box-necklace {
			grid-row-start: 4;
		}

		.big-box {
			padding-block: 0.75rem;
		}

		.small-box {
			div {
				margin-bottom: 0.9375rem;
			}
		}
	}

	.blurb {
		margin-top: 3.4375rem;

		.container {
			padding-left: 1.25rem;
		}
	}
}
