@media (max-width: 40em) {
	// Utility Classes
	.logo {
		font-size: 1.25rem;
	}

	.btn {
		font-size: 0.6875rem;
		line-height: 1.27;
		padding: 0.8125rem 1.25rem;
	}

	.section-heading {
		font-size: 1.75rem;
	}

	.bold-caps {
		font-size: 0.625rem;
	}

	// Free Delivery Banner
	.delivery-banner {
		display: block;
		background-color: $clr-primary;
		color: $clr-white;
		padding-block: 0.625rem;
	}

	// Header
	.header {
		.header-right {
			position: relative;
		}

		.icon-login {
			display: none;
		}

		.icon-cart {
			margin-right: 2.25rem;
		}

		.nav-toggle {
			display: block;
			position: absolute;
			z-index: 1000;
			top: 0;
			right: 0;
			width: 1.25rem;
			aspect-ratio: 1;
			background-color: transparent;
		}

		.primary-nav {
			position: fixed;
			z-index: 999;
			inset: 0 0 0 10%;
			background-color: $clr-white;
			font-size: 2rem;
			transform: translateX(100%);
			transition: transform 0.3s ease;
			padding-top: 8rem;
			padding-right: 10rem;

			&.visible {
				transform: translateX(0%);
			}
		}

		.nav-list {
			flex-direction: column;
			gap: 5rem;
			align-items: flex-start;
		}
	}

	// Hero
	.hero {
		padding-bottom: 0;

		.small-caps {
			font-size: 0.5rem;
		}

		.section-heading {
			font-size: 1.75rem;
		}

		.btn {
			align-self: center;
		}
	}

	// Benefits
	.benefits {
		margin-top: 1.875rem;

		.benefits-list {
			grid-template-columns: repeat(2, 1fr);
			justify-items: start;
			column-gap: 1rem;
			row-gap: 2.1875rem;
		}

		.benefit {
			.clr-light {
				font-size: 0.75rem;
			}
		}
	}

	// Collections
	.collections {
		.big-box img {
			max-width: 210px;
		}

		.shop-link {
			font-size: 0.625rem;
		}
	}

	.blurb {
		.container {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			gap: 1.25rem;
		}

		.blurb-heading,
		.promo-img,
		.lead-text {
			grid-row: auto;
			grid-column: auto;
		}

		.blurb-heading {
			order: 1;
		}

		.promo-img {
			order: 2;
			width: 100%;
			margin: 0;
		}

		.lead-text {
			order: 3;
		}
	}

	// Products
	.products {
		margin-top: 3.4375rem;

		.container {
			padding-inline: 0;
		}

		.products-grid {
			grid-template-columns: repeat(2, 1fr);
			gap: 5px;
		}

		.row3 {
			grid-row: 3;
		}

		.shop-box {
			grid-column: span 2;
			grid-row: auto;
			min-height: 29rem;

			.section-heading {
				max-width: 15ch;
			}
		}
	}

	// Blogs
	.blogs {
		margin-top: 2.1875rem;
		padding-top: 1.375rem;
		padding-bottom: 1.875rem;

		.blogs-container {
			margin-top: 1.75rem;
		}
	}

	// Hide Whatsapp icon
	.whatsapp {
		display: none;
	}
}
