.benefits {
	margin-top: 4.1875rem;
}

.benefits-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	justify-items: center;
}

.benefit {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}

.benefit .clr-light {
	margin-top: 5px;
}
