.benefits {
	margin-top: 4.1875rem;

	.benefits-list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 1.25rem;
		align-items: center;
		justify-items: center;
	}

	.benefit {
		@include flex($justify: stretch, $align: flex-start, $gap: 1rem);

		.clr-light {
			margin-top: 5px;
		}
	}
}
