.blogs {
	margin-top: 6.25rem;
	padding-top: 2.5625rem;
	padding-bottom: 5.5rem;
	background-color: $clr-neutral-900;

	.blogs-container {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 19rem;
		grid-gap: 0.5625rem;
		overflow-x: scroll;
		-ms-overflow-style: none;
		scrollbar-width: none;
		margin-top: 2.375rem;
	}

	.blog-post {
		width: 310px;
		height: 500px;
		background-color: $clr-white;
	}

	.blog-text {
		@include flex(column, stretch, stretch, 0);
		position: relative;
		height: calc(100% - 258px);
		padding-inline: 1.125rem;
		padding-top: 1.5625rem;
		padding-bottom: 1.0625rem;
	}

	.category {
		position: absolute;
		top: 0;
		right: 0;
		padding: 7px;
		background-color: $clr-neutral-100;
		font-size: 0.75rem;
		color: $clr-white;
		text-align: center;
		text-transform: uppercase;
		transform: translateY(-50%);
	}

	.blog-title {
		margin-bottom: 0.5625rem;
		font-weight: 400;
		line-height: 1.375;
		color: $clr-neutral-300;
		text-transform: uppercase;
	}

	.blog-summary {
		padding-bottom: 1.3125rem;
		font-size: 0.75rem;
		line-height: 1.83;
		color: $clr-neutral-600;
	}

	.blog-footer {
		margin-top: auto;
		padding-top: 1.3125rem;
		border-top: 1px solid $clr-neutral-900;
		font-size: 0.625rem;
		color: $clr-neutral-600;
	}
}
