.blogs {
	margin-top: 6.25rem;
	padding-top: 2.5625rem;
	padding-bottom: 5.5rem;
	background-color: hsl(0, 0%, 97%);
}

.blogs-container {
	margin-top: 2.375rem;
	overflow-x: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: minmax(300px, 1fr);
	grid-gap: 0.5625rem;
	height: 480px;
}

.blog-post {
	background-color: hsl(0, 0%, 100%);
}

.blog-text {
	padding-inline: 1.125rem;
	padding-top: 1.5625rem;
	padding-bottom: 1.0625rem;
	position: relative;
}

.category {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	transform: translateY(-50%);
	font-size: 0.75rem;
	text-transform: uppercase;
	background-color: hsl(0, 0%, 14%);
	color: hsl(0, 0%, 100%);
	text-align: center;
	padding: 7px;
}

.blog-title {
	font-weight: 400;
	text-transform: uppercase;
	color: hsl(0, 0%, 30%);
	margin-bottom: 0.5625rem;
	line-height: 1.375;
}

.blog-summary {
	color: hsl(0, 0%, 60%);
	font-size: 0.75rem;
	line-height: 1.83;
	padding-bottom: 1.3125rem;
}

.blog-footer {
	padding-top: 1.3125rem;
	border-top: 1px solid #f3f3f3;
	font-size: 0.625rem;
	color: hsl(0, 0%, 60%);
}
