.cta-banner {
	margin-top: 9.5rem;
	padding-block: 2rem;
	background-color: $clr-primary;
	color: $clr-white;
}

.banner-container {
	@include flex($gap: 2.6875rem);
}

.banner-text {
	@include flex($gap: 2.6875rem);
}

.delivery-big {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.75rem;
}

.separator {
	height: 2.1875rem;
	width: 1px;
	background-color: $clr-white;
}

.orders {
	font-size: 0.875rem;
}
