.footer {
	background-color: $clr-secondary;
	color: $clr-white;
	padding-top: 4.0625rem;
	padding-bottom: 4.875rem;
	font-size: 0.875rem;

	.footer-grid {
		display: grid;
		grid-template-columns: 2fr repeat(4, 1fr);
	}

	.company-desc {
		max-width: 30ch;
		margin-top: 1.4375rem;
		margin-bottom: 0.9375rem;
		line-height: 1.5;
	}

	.copyright {
		text-align: right;
	}

	.footer-nav {
		margin-top: 1rem;
	}
}
