.footer {
	padding-top: 4.0625rem;
	padding-bottom: 4.875rem;
	background-color: $clr-secondary;
	font-size: 0.875rem;
	color: $clr-white;

	.footer-grid {
		display: grid;
		grid-template-columns: 2fr repeat(4, 1fr);
	}

	.company-desc {
		max-width: 30ch;
		margin-top: 1.4375rem;
		margin-bottom: 0.9375rem;
		line-height: 1.5;
	}

	.copyright {
		text-align: right;
	}

	.footer-nav {
		margin-top: 1rem;

		a {
			transition: color 0.3s ease;
		}

		a:hover {
			color: hsl(0, 0%, 80%);
		}

		a:focus-visible {
			outline: 2px solid $clr-white;
			outline-offset: 4px;
		}
	}
}
