.header {
	position: sticky;
	top: 0;
	z-index: 998;
	padding-block: 2rem;
	background-color: $clr-white;
	box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.1);

	.header-container {
		@include flex($justify: stretch);
	}

	.header-right {
		@include flex($justify: stretch);
		margin-left: auto;
	}

	.delivery-promo {
		margin-right: 1.25rem;
	}

	.icon-login {
		margin-left: 1rem;
	}

	.header-icon:focus-visible {
		outline: 2px solid $clr-primary;
		outline-offset: 2px;
	}
}
