.btn {
	display: inline-block;
	font-family: $ff-button;
	font-weight: 500;
	font-size: 0.75rem;
	line-height: 1.5;
	padding: 0.53125rem 1.5625rem;
	text-transform: uppercase;

	&-primary {
		background-color: $clr-primary;
		color: clr-white;
	}

	&-light {
		color: $clr-primary;
		background-color: $clr-white;
	}
}
