// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Cabin:wght@400;700&family=Playfair+Display:wght@500;600&family=Poppins:wght@500&display=swap');

// Font Family Variables
$ff-body: 'Cabin', sans-serif;
$ff-headings: 'Playfair Display', serif;
$ff-button: 'Poppins', sans-serif;
$ff-logo: 'Bodoni Moda', serif;
