// Colors
$clr-primary: hsl(28, 53%, 40%);
$clr-secondary: hsl(240, 3%, 14%);

$clr-neutral-100: hsl(0, 0%, 14%);
$clr-neutral-300: hsl(0, 0%, 30%);
$clr-neutral-500: hsl(0, 0%, 53%);
$clr-neutral-600: hsl(0, 0%, 60%);
$clr-neutral-900: hsl(0, 0%, 97%);

$clr-black: hsl(0, 0%, 0%);
$clr-white: hsl(0, 0%, 100%);

$max-width: 79.375rem;
